<header>
  <h1>{{currentViewTitle}}</h1>
</header>

<div role="main">
  {{#view Panda.TabPaneView viewName="pending" contentBinding="Panda.transactionsController"}}
    {{#collection contentBinding="Panda.transactionsController" tagName="ul"}}
      {{content.label}} {{content.amount}} Euros {{Panda.userController.account.name}} -> {{content.account.name}}
    {{/collection}}
  {{/view}}

  {{#view Panda.TabPaneView viewName="new" contentBinding="Panda.transactionController"}}
    <form {{action "submit" on="submit" target="Panda.transactionController"}}>
      {{view Ember.TextField type="number" placeholder="Combien" valueBinding="content.amount"}}
      {{view Ember.TextField placeholder="Pour quoi" valueBinding="content.label"}}
      {{view Ember.TextField placeholder="Qui" valueBinding="content.friendName"}}

      {{#collection contentBinding="Panda.friendsController.results" tagName="ul"}}
        <a href="#" {{action select target="Panda.friendsController"}}>{{content.name}}</a>
      {{/collection}}

      <button class="ember-button" type="submit">Save</button>
    </form>
  {{/view}}

  {{#view Panda.TabPaneView viewName="transactions"}}
  {{/view}}
</div>
<footer>
  <ul>
    {{view Panda.TabView value="pending"}}
    {{view Panda.TabView value="new"}}
    {{view Panda.TabView value="transactions"}}
  </ul>
</footer>
